<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

  
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

 
   {% block stylesheets %}
		 <link rel="stylesheet" href="{{ asset('css/stl.css') }}">
        {% endblock %}
</head>
<body>

    <div class="main">

        <section class="signup">
           
            <div class="container">
                <div class="signup-content">
                    <form method="post" >
                        <h2 class="form-title">Cree un compte</h2>
                      
                        <div class="form-group">
                            <input type="text" class="form-input" name="nom"  placeholder="nom"/>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-input" name="prenom"  placeholder="prenom"/>
                        </div>
                          <div class="form-group">
                            <input type="text" class="form-input" name="age" id="password" placeholder="age"/>
                           
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="adresse"  placeholder="ton adresse"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="password" placeholder="mot de passe"/>
                           
                        </div>
                       <p>choisir</p>
                       <input type="radio" id="contactChoice1"name="t1" value="responsable" >
    <label for="contactChoice1">responsable</label>

    <input type="radio" id="contactChoice2"
     name="t1" value="client">
    <label for="contactChoice1">client</label>
    </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>